.first_header {
 display: flex;
 flex-direction: row;
 background-color: aquamarine;
}

.icon_socials {
 display: flex;
}

.second_header {
 display: flex;
 flex-direction: row;
 background-color: antiquewhite;
 position: sticky;
}

.main_page {
 height: 100vh;
}

.card {
 background-color: rgb(222, 230, 230);
}

.card .image-box {
 height: 200px;
}

.card .image-box img {
 height:100%;

}

.card .profile-details {
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: 15px;
}

.card .profile-details img {
 border-radius: 50%;
 height: 40px;
 width: 40px;
}